@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.wrapper {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
  height: 900px;
  background-image: linear-gradient(180deg, #1db954, black);
 
}

.by {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
}

.fa-quote-right {
  float: right;
}

.fa-quote-left {
  float: left;
}
